# PostgreSQL Configuration
POSTGRES_DB=facepay_stream
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin

# Spring Boot Configuration
SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/facepay_stream
SPRING_DATASOURCE_USERNAME=admin
SPRING_DATASOURCE_PASSWORD=admin
SPRING_KAFKA_BOOTSTRAP_SERVERS=kafka:29092

# Kafka Configuration (for Java code)
BOOTSTRAP_SERVERS=kafka:29092